.App {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
}

.square {
  flex: 1 1 33.33%;
}

.square-inner {
  border: 1px solid darkgrey;
  padding-top: 100%;
  position: relative;
}

.text {
  position: absolute;
  font-size: 80px;
  bottom: 20%;
  right: 30%;
}